<?xml version="1.0" encoding="UTF-8" ?>  
    <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="autoMappingBehavior" value="FULL" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>
   <!--  <plugins>
        <plugin interceptor="jo.geun.utility.PagePlugin">
            <property name="dialect" value="oracle" />
            <property name="pageSqlId" value=".*ListPage.*" />
        </plugin>
    </plugins> -->
      <typeAliases>  
        <typeAlias alias="User1" type="com.bolo.entity.User1"/>  
        <typeAlias alias="Location" type="com.bolo.entity.Location"/> 
        <typeAlias alias="Wifiinfo" type="com.bolo.entity.Wifiinfo"/> 
        <typeAlias alias="Wifiinfoavg" type="com.bolo.entity.Wifiinfoavg"/> 
        <typeAlias alias="NanshenUser" type="com.bolo.entity.NanshenUser"/>  
    </typeAliases>  
      
    <mappers>  
        <mapper resource="com/bolo/dao/UserServiceMapper.xml"/>  
        <mapper resource="com/bolo/dao/LocationMapper.xml"/> 
        <mapper resource="com/bolo/dao/WifiinfoMapper.xml"/>
        <mapper resource="com/bolo/dao/UserMapper.xml"/>   
    </mappers> 
</configuration>  