<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.bolo.dao.CommonMapper">  
    <select id="findRecords" parameterType="String" resultMap="orderTypeResultMap">  
   		 ${value} 
	</select>
	 <insert id="insertAccount" parameterType="Account">
   	 Insert into WIFIINFOAVG
   	 	(x,y,Cindex,BSSID,ssid,Wlevel) 
   	 select x,y,cindex,bssid,ssid,avg(wlevel) as wlevel from location t 
   	 left join wifiinfo a on t.bid=a.bid  group by bssid,ssid,x,y,cindex 
  </insert>       
</mapper>  
